<div class="container">
  <div class="index-tag">
    <h2>ユーザー</h2>
  </div>
  <% @users.each do |user| %>
    <div class="container-child col-md-2 col-sm-4 col-xs-6 users">
      <div class="box12">
        <div class="index-main-low">
          <div class= "child-index">
            <%= profile_img(user) %>
          </div>
          <% unless user.id == current_user.id %>
            <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
          <% end %>
          <% if user.id != current_user.id %>
            <div class="item">
              <%= link_to user.name, user_path(user.id), class: 'btn btn-default' %>
              <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', class: 'btn btn-default'%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>