// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1-confirm {
  margin-top: 100px;
}

.col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1-edit {
  margin-top: 100px;
}

.wrapper {
  margin-top: 100px;
  margin-bottom: 74px;
  padding: 0px 20px 20px 35px;
  .row {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
  }
}
input[type="submit"].btn-block{
  margin: 15px 0;
}

.book-topic {
  position: relative;
  padding: 0.25em 1em;
  margin: 2em 0;
  margin-left: 150px;
  margin-right: 150px;
  top: 0;
  background: #f5f5f5;
}
.book-topic:before, .book-topic:after {
  position: absolute;
  top: 0;
  content:'';
  width: 15px;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
}
.book-topic:before {
  border-left: solid 2px #000;
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
  left: 0;
}
.book-topic:after {
  border-right: solid 2px #000;
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
  right: 0;
}

.row-book {
    margin-top: 10px;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    border-bottom-width: 0px;
    margin-bottom: 10px;
    background-color: #D7EEFF;
}

.box4{
    padding: 8px 19px;
    margin: 2em 0;
    color: #2c2c2f;
    background: #cde4ff;
    border-top: solid 5px #5989cf;
    border-bottom: solid 5px #5989cf;
}

.three {
   .book_picture {
    width: 100px;
    height: 80px;
  img { width: 50%;
    }
  }
   .booker {
    margin-top: 10px;
    display: block;
    }
}

.book-mgt-100{
  margin-top: 100px;
}

