// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1-confirm {
  margin-top: 100px;
}

.wrapper {
  margin-top: 100px;
  margin-bottom: 74px;
  padding: 0px 20px 20px 35px;
  .row {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
  }
}
input[type="submit"].btn-block{
  margin: 15px 0;
}

.row-book {
    margin-top: 10px;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    border-bottom-width: 0px;
    margin-bottom: 10px;
    background-color: #D7EEFF;
}

.three {
    padding-right: 470px;
   .book_picture {
    width: 200px;
    height: 140px;
    margin-left: 10px;
    margin-right: 10px;
  img { width: 50%;
    }
  }
   .booker {
    margin-left: 1px;
    margin-top: 10px;
    display: block;
    }
}

.book-mgt-100{
  margin-top: 100px;
}

