.btn.btn-default{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 6px;
    font-size: 14px;
}

.login-field {
    margin-top: 5px;
    margin-left: 100px;
    width: 40%;
}

.login-picture {
    margin-bottom: 5px;
  img {
    width: 75%;
  }
  .login-word {
    margin-top: 5px;
  }
}

.login-word {
  margin-left: -50px;
}