// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper.col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1.index {
  padding-top: 0px;
  margin-top: 100px;
}

.uisegment {
  padding-top: 250px;
}

.form-control2 {
     width: 800px;
    margin-left: 35px;
  margin-bottom: 10px;
}

.index-main {
  padding-top: 75px;
}

.index-main-low {
    height: 175px;
    width: 150px;
    background-color: #D7EEFF;
    padding-bottom: 5px;
}

.child-index {
    width: 50%;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-left: 37px;
}