<p>こんにちは <%= @resource.email %>!さん</p>
<p>パスワードの変更を行います。下記の内容に従ってパスワードの変更を行って下さい。</p>
<p><%= link_to 'パスワードを変更してください', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>もしこのメールを送らなかったら, 拒否して下さい。</p>
<p>パスワードは上記のリンクにアクセスするまで、新たに作ったり変更することはできないでしょう</p>